.home {
  &-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &-catalog {
    padding: 20px 0;
    &-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      &__item {
        font-weight: 550;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-grow: 1;
        &:not(:last-child) {
          border-right: 1px solid rgba(220, 225, 231, 1);
        }
        &:first-child {
          justify-content: left;
        }
        &:last-child {
          justify-content: right;
        }
      }
    }
    &-assortment {
      display: flex;

      justify-content: space-between;
      column-gap: 10px;
      overflow-x: hidden;
      &-item {
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        max-width: 185px;
        text-align: center;
        background-color: rgba(243, 244, 245, 1);

        &__img {
          width: 138px;
          height: 123px;
        }
        &:last-child {
          flex-grow: 8;
          border: 2px solid rgba(243, 244, 245, 1);
          background-color: transparent;
          justify-content: space-around;
          & img {
            width: 59px;
            height: 59px;
          }
        }
      }
    }
    &-bottom {
      padding: 30px 0;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      &-item {
        font-size: 22px;
        font-weight: 550;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        flex-grow: 1;
        height: 176px;
        padding: 0 36px;
        &__discount {
          font-size: 14px;
          font-weight: 700;
          max-width: 100px;
          text-align: center;
          background-color: black;
          color: white;
          padding: 6px;
          border-radius: 8px;
        }
      }
    }
  }
  &-sale {
    margin-bottom: 90px;

    &-products {
      display: flex;
      justify-content: space-between;
    }
    &-list {
      display: flex;
      gap: 10px;
      margin-bottom: 50px;
      &__item {
        cursor: pointer;
        border: 1px solid rgba(242, 244, 245, 1);
        border-radius: 6px;
        padding: 12px 20px;
        font-size: 14px;
        font-weight: 550px;
      }
    }
  }
  &-brand {
    padding: 50px 150px;
    background-color: rgba(249, 250, 251, 1);
    &-list {
      display: flex;
      justify-content: space-between;
    }
  }

  &-better {
    padding: 30px 0;
    &-list {
      display: flex;
      justify-content: space-between;
    }
  }
  &-about {
    padding: 67px 0;
    background-color: rgb(249, 250, 251);
    &__inner {
      display: flex;
      align-items: center;
    }
    &__top-text {
      font-size: 17px;
      font-weight: 550;
      margin-bottom: 10px;
    }
    &__btn {
      background-color: rgb(1, 17, 32);
      padding: 24px 27px;
      color: white;
      font-weight: 700;
      border-radius: 8px;
      margin-top: 23px;
      display: flex;
      align-items: center;
      gap: 17px;
      &-arrow {
        font-size: 18px;
      }
    }
  }
  &-description {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &-term {
      color: $theme-color;
      font-size: 26px;
      font-weight: 550;
      margin-bottom: 10px;
    }
  }
}
