* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue Cyr Medium Italic", sans-serif;
}
$theme-color: rgb(24, 111, 212);
$second-theme-color: rgb(238, 9, 6);
$btn-color: rgb(1, 17, 32);
$card-color: rgb(143, 146, 150);
$border-color: rgb(223, 224, 226);
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}
button {
  cursor: pointer;
  border: none;
}
.container {
  max-width: 1660px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.outlet {
  flex-grow: 1;
}

@import "about";
@import "aside";
@import "card";
@import "catalog";
@import "footer";
@import "fonts";
@import "header";
@import "home";
@import "homeSliders";
@import "newsCard";
@import "notFound";
@import "infoBlock";
@import "sortForm";
@import "pagination";
