* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue Cyr Medium Italic", sans-serif;
}
$theme-color: rgba(24, 111, 212, 1);
$second-theme-color: rgba(238, 9, 6, 1);
$card-color: rgba(143, 146, 150, 1);
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
.container {
  max-width: 1660px;
  padding: 0 20px 0 0;
  margin: 0 auto;
}

@import "fonts";
@import "header";
@import "footer";

@import "home";
@import "homeSliders";
@import "card";
